*{
    margin:0px;
    padding:0px;
}
body {
	background-color: #e0e0e0;
}
a {
	text-decoration: none;
}
.leftColumn {
    width: 65%;
    float: left;
    padding: 0px;
    margin: 0px;
    background-color: red;
}
.rightColumn {
    width: 32%;
    float: right;
    padding: 0px;
    background-color: green;
}
.featured_news {
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 10px;
}
.featured_news img
{
    width: 100%;
    height: 420px;
}
.hot_news_headline
{
    padding: 0px;
    font-size: 43px;
    /*position: absolute;*/
    bottom: 8px;
    left: 16px;
}
.news
{
    background-color: #ffffff;
    display: inline-block;
    width: 30%;
    height: 250px;
    margin-right: 3.2%;
}
.news_image
{
    float: left;
    height: 100px;
    width: auto;
    /*margin: 25px 90px 25px 90px;*/
}
.news_headline
{
    padding: 0px;
}
.on_this_day {
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
.on_this_day strong {
    font-size: 30px;
}
.event {
    margin: 10px 0px;
}
.otd_container {
    max-height: 500px;
    overflow: auto;
}
.OTD_year {
    background-color: #000000;
    font-size: 30px;
    color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    height: 60px;
}
















.box 
{
    background-color: white;
    padding: 5px 0px 5px 0px;
    margin-top: 5px;
    font-size:10px;
}
.box h5
{
    font-size: 20px;
    text-align: center;
}
.box ul {
    line-height: normal;
}

.box ul li {
    margin-left: 20px;
    font-size: 15px;
}

.box ul li a{
    margin-left:0px;
    color: #292929;
}

.box ul li a:hover{
    text-decoration: none;
}